<div
  class="bg-black rounded-xl border border-white overflow-hidden transition-all w-full max-w-70 hover:bg-zinc-800 hover:-translate-y-1"
>
  <!-- <img [src]="producto().imagenUrl" [alt]="producto().nombre" class="w-full h-48 object-cover"> -->
  @if (stockStatus(); as status) {
    <div class="w-full relative">
      <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
      <div
        [ngClass]="status.classStyle"
        class="flex items-center justify-center px-2 py-1 rounded-2xl gap-1 absolute top-2 right-2"
      >
        <i [ngClass]="status.icon"></i>
        <span class="text-white text-xs font-semibold">
          {{ status.label }}
        </span>
      </div>
    </div>
  }

  <div class="px-3 py-2 h-full min-h-40 flex flex-col gap-3">
    <div>
      <span class="text-sm text-zinc-500">
        {{ producto().categoria.nombre }}
      </span>

      <a [routerLink]="['/products', producto().slug]">
        <h3 class="text-[17px] font-medium text-zinc-100 hover:underline">
          {{ producto().nombre }}
        </h3>
      </a>
    </div>

        <div class="flex items-center justify-between gap-2 mt-auto">
            <p class="text-[14px] font-medium  text-zinc-50">
                {{ producto().precio | currency:'$ ':'symbol':'1.0-0' }}
            </p>
        </div>
        <p-button
            label="Agregar al carrito"
            icon="pi pi-shopping-cart"
            styleClass="w-full"
            [disabled]="producto().stock === 0"
            (onClick)="agregarAlCarrito()"
        />
    </div>
</div>
