<div class="p-5 max-w-4xl mx-auto">
  <h1 class="text-2xl font-bold mb-5">Historial de Mis Compras</h1>

  @if (pedidos().length === 0) {
    <p>Todavía no has hecho ninguna compra.</p>
  } @else {
    <div class="flex flex-col gap-4">
      
      @for (pedido of pedidos(); track pedido.id) {
        
        <div class="text-color-secondary m-0 line-height-3 text-lg border border-gray-300 p-4 rounded-lg shadow-sm text-black">
            <div class="flex justify-between items-center border-b pb-2 mb-2">
            <div>
              <span class="font-bold text-green-600">Pedido #{{ pedido.id }}</span>
              <span class="text-gray-500 ml-3">{{ pedido.fecha | date:'dd/MM/yyyy HH:mm' }}</span>
            </div>
            <!-- ¡Este es el enlace que nos lleva al detalle pasando el ID! -->
            <a [routerLink]="['/orders', pedido.id]" class="text-blue-500 hover:underline cursor-pointer">Ver recibo completo &rarr;</a>
          </div>
          
          <ul class="mb-3">
            @for (item of pedido.itemPedido; track item.id) {
              <li class="flex justify-between border-b border-gray-100 py-1">
                <span>{{ item.cantidad }}x {{ item.producto.nombre }}</span>
                <span>{{ item.precioUnitario | currency:'$ ':'symbol':'1.0-0' }}</span>
              </li>
            }
          </ul>

          <div class="text-right font-bold text-lg border-t pt-2">
            Total pagado: {{ pedido.total | currency:'$ ':'symbol':'1.0-0' }}
          </div>
        </div>
      }
    </div>
  }
</div>