<div class="flex flex-col w-full items-center justify-center">
    <img class="w-full max-w-120" src="/images/file0.svg" alt="Not Found">
    <div class="flex flex-col items-center gap-3 justify-center max-w-120 ">
        <h2 class="text-4xl font-bold">
            Producto no encontrado
        </h2>
        <p class="text-center text-[.85rem] text-gray-300">
            Lo sentimos, el producto que buscas parece haber sido movido, eliminado o nunca existió en nuestro catálogo
            actual. Por favor, verifica la dirección o explora nuestras categorías principales.
        </p>
        <a class="bg-black mt-3 p-3 text-[.9rem]  flex gap-2 items-center rounded-2xl font-medium shadow-[0px_0px_3px_1px] duration-300 hover:shadow-[0px_0px_10px_1px] transition"
            routerLink="/products">
            <i class="pi pi-arrow-left"></i>
            Volver al
            catalogo</a>
    </div>
</div>