<form [formGroup]="form" (ngSubmit)="enviar()" class="flex flex-col gap-4">

  <div class="flex flex-col gap-1">
    <label class="font-bold">Nombre <span class="text-red-500">*</span></label>
    <input pInputText formControlName="nombre" placeholder="Ej: iPhone 15 Pro" />
    @if (form.get('nombre')?.hasError('required') && form.get('nombre')?.touched) {
      <span class="text-red-500 text-sm">El nombre es requerido</span>
    }
  </div>

  <div class="flex flex-col gap-1">
    <label class="font-bold">Descripción</label>
    <textarea formControlName="descripcion" rows="3"
              class="w-full border border-gray-300 rounded p-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
              placeholder="Descripción del producto..."></textarea>
  </div>

  <div class="flex gap-4">
    <div class="flex flex-col gap-1 flex-1">
      <label class="font-bold">Precio ($) <span class="text-red-500">*</span></label>
      <input pInputText type="number" formControlName="precio" placeholder="0.00" min="0.01" step="0.01" />
      @if (form.get('precio')?.hasError('required') && form.get('precio')?.touched) {
        <span class="text-red-500 text-sm">El precio es requerido</span>
      }
      @if (form.get('precio')?.hasError('min') && form.get('precio')?.touched) {
        <span class="text-red-500 text-sm">El precio debe ser mayor a 0</span>
      }
    </div>
    <div class="flex flex-col gap-1 flex-1">
      <label class="font-bold">Stock <span class="text-red-500">*</span></label>
      <input pInputText type="number" formControlName="stock" placeholder="0" min="0" />
      @if (form.get('stock')?.hasError('required') && form.get('stock')?.touched) {
        <span class="text-red-500 text-sm">El stock es requerido</span>
      }
      @if (form.get('stock')?.hasError('min') && form.get('stock')?.touched) {
        <span class="text-red-500 text-sm">El stock no puede ser negativo</span>
      }
    </div>
  </div>

  <div class="flex flex-col gap-1">
    <label class="font-bold">URL de la imagen</label>
    <input pInputText formControlName="imagenUrl" placeholder="https://..." />
  </div>

  <div class="flex flex-col gap-1">
    <label class="font-bold">Categoría <span class="text-red-500">*</span></label>
    <p-select
      [options]="categorias()"
      formControlName="categoriaId"
      optionLabel="nombre"
      optionValue="id"
      placeholder="Seleccioná una categoría"
      appendTo="body"
      class="w-full"
    />
    @if (form.get('categoriaId')?.hasError('required') && form.get('categoriaId')?.touched) {
      <span class="text-red-500 text-sm">La categoría es requerida</span>
    }
  </div>

  <p-button
    type="submit"
    [label]="producto() ? 'Actualizar Producto' : 'Crear Producto'"
    [disabled]="form.invalid"
    severity="success"
    class="mt-2"
  />

</form>
