/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "tailwindcss";

app-root {
  display: block;
}

.p-menubar-item-link-active {
  color: var(--p-primary-color) !important;
  font-weight: 600;
}